$color_grey: #C4C4C4;
$color_black: #000;
$color_sand: #CFA688;

.bgMainPage
    width: 100%
    height: 100vh
    background: url('../images/Background.png')
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: #2c2622c2

.mainPage
    color: $color_grey
    position: absolute
    top: 0
    left: 0
    z-index: 2